/* body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #151b29;

} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(2022-07-20.png);
}
button{
    background: none;
    color: #5ce7ff;
    border: 2px solid;
    padding: 1em 2em;
    font-size:1em;
    transition: color 0.25s border-color 0.25s box-shadow 0.25s transform 0.25s;
}
button:hover{
    border-color: red;
    color:white;
    box-shadow: 0 0.5em 0.5em -0.4em red;
    transform: translateY(-0.25em);
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height: 80px; 
}
nav .logo{
    width: 60%;
}
img{
    width: 140px;
    height: 70px;
    /* align-items: flex-start; */
    margin-top: 5px;
}
img:hover{
    box-shadow: 0 0.5em 0.5em -0.2em red;
    
    
}
.innerve, .year{
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: bolder;
    color: #a8f0fd;
    text-align: right;
    text-shadow:  5px 5px 10px red;
    
    align-items: center;
}
.container{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    height:fit-content;
    color: #adeffa;
    background-color: rgba(0,0,0,0.4);
    font-weight: 600;
  }
  .typed-out{
    overflow: hidden;
    border-right: .15em solid #5ce7ff;
    white-space: nowrap;
    animation: 
    typing 3.5s steps(30, end) forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
.not-typed-out{
    font-size: 1.6rem;
}
.events{
    margin-top: 150px;
    border-top: #5ce7ff solid 1px;
    text-align: center;
    padding-top: 50px;
    color:#ebf9fc;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}
.events h2{
    font-size: 1.8rem;   
}
.events h1{
    font-weight: 900;
    text-shadow: 5px 5px 8px red;
}
.events-imgs{
    
    justify-content: space-between;
    width: 100%;
    
}
#ev{
    width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin: 50px;
    transition: 1s;
}
#ev:hover{
    transform: scale(1.1);
    cursor: pointer;
}
footer{
    color: #5ce7ff;
    background-color: rgba(0,0,0,0.8);
    font-family: 'Roboto', sans-serif;
    padding:100px 10px 50px 10px;
}
footer h1{
    text-align: left;
    font-size: 60px;
    font-weight: 800;
}
footer h3{
    text-align: right;
    line-height: 3rem;
}


